{% load static %}
<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Multiple File Upload</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% block headerContent %} {% endblock headerContent %}
</head>
 
<body>
 
 
    <main class="my-5">
        {% if messages %}
            {% for message in messages %}
                    <div class="alert alert-{{message.tags}}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% block pageContent %} {% endblock pageContent %}
    </main>
    {% block ScriptBlock %} {% endblock ScriptBlock %}
</body>
 
</html>